body {
    background-color: powderblue !important;
}

div img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  width: 300px;
  height: 300px;
  margin-bottom: 10px;
}

div .translate {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  text-align: center;
}

h1 {
    font-family: "Avenir";
    font-size: 45px !important;
    letter-spacing: 0.4px;
    word-spacing: 1.4px;
    color: DeepPink;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
    margin-bottom: 20px !important;
}

h2 {
    font-family: "Avenir";
    font-size: 35px !important;
    letter-spacing: 0.4px;
    word-spacing: 1.4px;
    color: DeepPink;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
    margin-bottom: 20px !important;
}

h5 {
    font-family: "Avenir";
    font-size: 25px;
    letter-spacing: 0.4px;
    word-spacing: 1.4px;
    color: black;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
    margin-bottom: 20px !important;
    text-decoration: underline;
}

h6 {
    font-family: "Avenir";
    font-size: 15px !important;
    letter-spacing: 0.4px;
    word-spacing: 1.4px;
    color: black;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
    vertical-align: center;
    padding: 30px;
    color: DeepPink;
}

button {
    height: 50px;
    width: 50px;
}
#translate-button {
  margin-top: auto;
  margin-bottom: auto;
}

#refresh {
  margin: 20px;
  height: 50px;
  width: 75px;
  background-color: #ff9999
}

.container {
    width:1050px !important;
    text-align: center !important;
}
ul li {
    background-color: #ff9999 !important;
    padding: 60px;
    display: inline-block !important;
    text-align: left !important;

}
ul {
    margin-bottom: 100px !important;
}
